{
	admin off
	persist_config off
	auto_https off
}

:{$PORT:8080} {
	root * /app/build
	encode zstd gzip

	handle /assets/* {
		file_server
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
