@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/utils' as *;

.header {
  max-width: var(--max-app-width);
  margin: 0 auto;
  padding: 2rem 4rem .75rem 4rem;
  @include tablet {
    padding: 2rem 2.5rem .75rem 2.5rem;
    gap: .5rem;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  .right-buttons {
    display: flex;
    gap: .875rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    svg {
      width: clamp(2rem, 8vw, 2.75rem);
      height: clamp(2rem, 8vw, 2.75rem);
      transform-origin: center;
      cursor: pointer;
    }
  }

  button.exams {
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: $border-radius;
    font-size: 1rem;
    line-height: 1.2;
    color: hsla(0, 0%, 100%, .6);
    white-space: nowrap;
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    svg {
      display: inline-block;
      width: 1.125rem;
      height: 1.125rem;
      vertical-align: -.2em;
      margin-right: .4rem;
    }
    .arrow {
      width: .95rem;
      height: .95rem;
      margin-left: .125rem;
      margin-right: 0;
      vertical-align: -.125em;
      opacity: .7;
      transition: transform .2s ease-in-out;
    }
    .exam-icon {
      @include mobile {
        display: none;
      }
    }
    &.published {
      color: var(--text-clr);
      &::before {
        content: '';
        display: inline-block;
        width: .45rem;
        height: .45rem;
        margin-right: .625rem;
        border-radius: 50%;
        vertical-align: .1em;
        background-color: hsla(0, 0%, 78%, 1);
        box-shadow: 0 0 0 3px hsla(0, 0%, 69%, 0.3);
      }
    }
    &.back {
      padding: .25rem .625rem .25rem .5rem;
      color: $extra-text-clr;
      .arrow {
        margin-left: 0;
        margin-right: .4rem;
        transform: scaleX(-1);
      }
    }
    @include can-hover {
      &:hover {
        color: var(--text-clr);
        background-color: var(--accent-clr);
        .arrow {
          transform: translateX(2px);
        }
        &.back .arrow {
          transform: scaleX(-1) translateX(2px);
        }
      }
    }
    &:focus-visible {
      color: var(--text-clr);
      background-color: var(--accent-clr);
    }
  }
}
