@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.timetable {
  max-width: var(--max-app-width);
  border-collapse: collapse;
  color: hsla(0, 0%, 100%, 0.9);
  
  td, th {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    @include timetable-mobile {
      border: none;
    }

  }
  /* First row */
  thead tr:first-child th {
    border-top: none;
  }
  /* Last row */
  tr:last-child td, th {
    border-bottom: none;
  }

  /* First column */
  tr td:first-child, th:first-child {
    @include timetable-mobile {
      display: none;
    }

    width: 5rem;
    position: relative;
    border-left: none;
    .metadata {
      position: absolute;
      &.start {
        @include small-italic-text;
        top: 0%;
        right: .5rem;
      }
      &.number {
        top: 0%;
        right: 3.5rem;
      }
      &.end {
        @include small-italic-text;
        bottom: 0%;
        right: .5rem;
      }
    }
  }
  /* Last column */
  tr td:last-child, th:last-child {
    border-right: none;
  }
  
  @for $i from 1 through 9 {
    tr:nth-child(#{$i}) td {
      z-index: 10 - $i;
    }
  }

  &.lists {
    display: flex;
    .day-title {
      font-size: larger;
      margin: 0 0 .5rem .625rem;
    }
  }
}
