@use "../../styles/utils" as *;
@use "../../styles/variables" as *;

.bottom {
  @include flex-center;
  flex-direction: column;
  font-size: $small-font-size;
  padding: 1rem 0;
  gap: 0.125rem;
  span {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    .merge {
      --icon-size: 1.625rem;
    }

    .update {
      --icon-size: 1.625rem;
    }
  }
  .button {
    transition: transform 0.2s ease-in-out;
    @include can-hover {
      &:not(.pending):hover {
        transform: scale(1.1);
      }
    }
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
