@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 16px;
  }
  @include large-screen {
    font-size: 18px;
  }
  @include screen-2k {
    font-size: 22px;
    .toast {
      font-size: 18px;
    }
  }
  @include screen-4k {
    font-size: 24px;
  }

  @include auto-scroll(y, auto, transparent, var(--accent-clr), false);
  overflow: overlay; // deprecated :(
}

:root {
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    hsla(210, 100%, 65%, 0.3)
  );
} 

html, body, #root {
 min-height: 100vh;
 min-height: 100dvh;
}
 

body {
  background: $bg-light;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: 'Ubuntu', sans-serif;
  
  font-weight: $regular-font;
  
  @media screen and (prefers-color-scheme: dark) {
    --background-start-rgb: 0, 00, 10;
    --background-end-rgb: 0, 0, 10;

    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)
    );
  }
  color: var(--text-clr);
  main {
    padding: $main-padding;
    @media screen and (prefers-color-scheme: dark) {
      &::before {
        content: '';
        left: 50%;
        top: 50%;
        position: absolute;
        filter: blur(45px);
        transform: translateZ(0);
        background: var(--secondary-glow);
        border-radius: 50%;
        width: 70%;
        height: 60%;
        transform: translateX(-60%) translateY(-60%);
        z-index: -1;
      }
    }
   
  }
}

.toast {
  font-size: 16px;
}

@function hsla-from-hsl($hsl, $alpha) {
  $hsl-list: $hsl;
  @return hsla(nth($hsl-list, 1), nth($hsl-list, 2), nth($hsl-list, 3), $alpha);
}


.lecture, .lection {
  background-color: hsla-from-hsl($timetable-lect-hsl, var(--bg-alpha, 1));
}

.lab {
  background-color: hsla-from-hsl($timetable-lab-hsl, var(--bg-alpha, 1));
}

.practical {  
  background-color: hsla-from-hsl($timetable-pract-hsl, var(--bg-alpha, 1));
}

a, button {
  &.lection:hover, &.lecture:hover {
    background-color: $timetable-lect-hover-clr;
  }
  &.lab:hover {
    background-color: $timetable-lab-hover-clr;
  }
  &.practical:hover {
    background-color: $timetable-pract-hover-clr;
  }
}
