@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,300;1,600&display=swap');

:root {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  background: $bg-theme-light-1;
  font-family: 'Roboto Flex', sans-serif;
  @media screen and (prefers-color-scheme: dark) {
    background: $bg-theme-dark-1;
  }
}

