@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 16px;
  }
  @include large-screen {
    --max-app-width: 100rem;
  }
  
  @include auto-scroll(y, auto, transparent, var(--accent-clr), false);
  overflow: overlay; // deprecated :(
}

:root {
  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    hsla(210, 100%, 65%, 0.3)
  );
} 

html, body, #root {
  height: 100%;
}

body {
  background-image: $bg-light;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: 'Ubuntu', sans-serif;
  
  font-weight: $regular-font;
  
  @media screen and (prefers-color-scheme: dark) {
    --background-start-rgb: 0, 00, 10;
    --background-end-rgb: 0, 0, 10;

    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)
    );
  }
  color: var(--text-clr);
  main {
    padding: $main-padding;
    @media screen and (prefers-color-scheme: dark) {
      &::before {
        content: '';
        left: 50%;
        top: 50%;
        position: absolute;
        filter: blur(45px);
        transform: translateZ(0);
        background: var(--secondary-glow);
        border-radius: 50%;
        width: 70%;
        height: 60%;
        transform: translateX(-60%) translateY(-60%);
        z-index: -1;
      }
    }
   
  }
}

