// $text--light: black;
// $text--dark: white;
// $bg--light: white;
// $bg--dark: black;

$themes: (
        dark: (
          accent: hsla(0, 0%, 6%, 0.251),
          text: hsl(0, 0%, 100%)
        ),
        light: (
          accent: hsla(0, 0%, 36%, 0.316),
          text: hsl(0, 0%, 0%)
        ),
);

@mixin themify($property, $key, $themes: $themes) {
  @each $theme, $colors in $themes {
    //  ( `.media.theme-unicorn, .theme-unicorn .media`)
    &.theme-#{$theme},
    .theme-#{$theme} & {
      #{$property}: map-get($colors, $key);
    }
  }
}

/// @access public
/// @see {mixin} themify
@mixin color($arguments...) {
  @include themify('color', $arguments...);
}

/// @access public
/// @see {mixin} themify
@mixin border-color($arguments...) {
  @include themify('border-color', $arguments...);
}

/// @access public
/// @see {mixin} themify
@mixin background-color($arguments...) {
  @include themify('background-color', $arguments...);
}
