@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin blur($radius: 1rem) {
  backdrop-filter: blur($radius);
  -webkit-backdrop-filter: blur($radius);
}

@mixin inset-0 {
  @include inset(0);
}

@mixin inset($value: 0) {
  top: $value;
  right: $value;
  bottom: $value;
  left: $value;
}

@mixin mobile {
  @media only screen and (max-width: 480px) {
      @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
      @content;
  }
}

@mixin large-screen {
  @media (min-width: 1860px) {
      @content;
  }
}

@mixin screen-2k {
  @media (min-width: 2500px) {
      @content;
  }
}

@mixin screen-4k {
  @media (min-width: 3600px) {
      @content;
  }
}

@mixin touchscreen {
  @media (hover: none) {
      @content;
  }
}

@mixin can-hover {
  @media (hover: hover) {
      @content;
  }
}

@mixin dark-mode($className) {
  @at-root .dark-mode #{$className}{
    @content;
  }
}

@function scss-hsla($hsl, $alpha: 1) {
  $hsl-list: $hsl;
  @return hsla(nth($hsl-list, 1), nth($hsl-list, 2), nth($hsl-list, 3), $alpha);
}

@function hsl-list($hsl) {
  $list: $hsl;
  @return nth($list, 1), nth($list, 2), nth($list, 3);
}

@mixin gradient-2($color-1, $color-2, $deg: var(--gradient-degree)) {
  background: linear-gradient($deg, $color-1 0%, $color-2 100%);
}

@mixin gradient-3($color-1, $color-2, $color-3, $deg: var(--gradient-degree)) {
  background: linear-gradient($deg, $color-1 0%, $color-2 50%, $color-3 100%);
}

@mixin gradient-4($color-1, $color-2, $color-3, $color-4, $deg: var(--gradient-degree)) {
  background: linear-gradient($deg, $color-1 0%, $color-2 33.33%, $color-3 66.66%, $color-4 100%);
}
