$light-accent-clr: hsla(0, 0%, 100%, 0.2);
$dark-accent-clr: hsla(0, 0%, 26%, 0.23);

$timetable-lect-clr: hsla(205, 100%, 50%, 1);
$timetable-lab-clr: hsla(25, 100%, 57%, 1);
$timetable-pract-clr: hsla(277, 41%, 53%, 1);

$text-clr: hsla(0, 0%, 100%, 1);
$extra-text-clr: hsla(0, 0%, 100%, 0.8);

$bg-theme-dark-1: linear-gradient(45deg, hsl(176, 77%, 26%), hsl(216, 69%, 16%));
$bg-theme-dark-2: linear-gradient(45deg, hsl(231, 42%, 22%), hsl(240, 43%, 3%));

$bg-theme-light-1: linear-gradient(45deg, hsl(230, 40%, 43%), hsl(162, 58%, 54%));
$bg-theme-light-2: linear-gradient(45deg, hsl(292, 58%, 60%), hsl(212, 76%, 66%), hsl(54, 70%, 57%));