$light-accent-clr: hsla(0, 0%, 100%, 0.2);
$dark-accent-clr: hsla(0, 0%, 26%, 0.23);

$timetable-lect-clr: rgb(45, 155, 233);
$timetable-lect-hover-clr: hsl(205, 100%, 64%);
$timetable-lab-clr: rgb(231, 129, 56);
$timetable-lab-hover-clr: hsl(25, 100%, 66%);
$timetable-pract-clr: rgb(151, 106, 179);
$timetable-pract-hover-clr: rgb(153, 112, 179);

$text-clr: hsla(0, 0%, 100%, 1);
$extra-text-clr: hsla(0, 0%, 100%, 0.8);

$bg-theme-dark-1: linear-gradient(135deg, rgba(15, 116, 110, 1), rgba(13, 36, 70, 1));
$bg-theme-dark-2: linear-gradient(45deg, hsl(231, 33%, 39%), hsl(240, 32%, 9%));

$bg-theme-light-1: linear-gradient(45deg, hsl(230, 40%, 43%), hsl(162, 58%, 54%));
$bg-theme-light-2: linear-gradient(45deg, hsl(292, 64%, 53%), hsl(212, 98%, 63%), hsl(54, 73%, 47%));
$bg-theme-light-3: linear-gradient(110deg, hsl(227, 47%, 34%), hsl(0, 31%, 58%));
$bg-theme-light-4: linear-gradient(145deg, #9B3838, #292F6A);
// $bg-theme-light-5: linear-gradient(45deg, hsl(315, 78%, 68%), hsl(212, 38%, 63%), hsl(130, 79%, 57%));
// $bg-theme-light-6: linear-gradient(110deg, hsl(41, 73%, 54%), hsl(0, 31%, 58%));;

$thin-font: 300;
$regular-font: 400;
$medium-font: 500;
$semi-bold-font: 600; 

$small-font-size: 0.875rem;
$medium-font-size: 1.25rem;
$large-font-size: 1.5rem;

$max-content-width: 100rem;
$header-icon-size: 2.325rem;

$spin-animation: spin 2s ease-in-out infinite reverse;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$appear-animation: appear 0.2s ease-in-out;

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

$disappear-animation: disappear 0.2s ease-in-out;

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}