
:root {

  --max-app-width: 90rem;
  --accent-clr: hsla(0, 0%, 100%, 0.15);
  --text-clr: hsla(0, 0%, 100%, 1);
  --border-clr: hsla(209, 94%, 94%, 0.139);

  @media screen and (prefers-color-scheme: dark) {
    --accent-clr: hsla(0, 0%, 100%, 0.15);
    --text-clr: hsla(0, 0%, 100%, 0.9);
  }
}

$timetable-lect-clr: hsl(205, 81%, 45%);
$timetable-lect-hover-clr: hsl(205, 100%, 50%);
$timetable-lab-clr: hsl(25, 78%, 56%);
$timetable-lab-hover-clr: hsl(25, 100%, 64%);
$timetable-pract-clr: hsl(277, 32%, 56%);
$timetable-pract-hover-clr: hsl(277, 32%, 64%);

$extra-text-clr: hsla(0, 0%, 100%, 0.8);

$bg-light: linear-gradient(135deg, hsl(176, 77%, 26%), hsl(216, 69%, 16%));

$bg-theme-dark-2: linear-gradient(45deg, hsl(231, 33%, 39%), hsl(240, 32%, 9%));
$bg-theme-light-1: linear-gradient(45deg, hsl(230, 40%, 43%), hsl(162, 58%, 54%));
$bg-theme-light-2: linear-gradient(45deg, hsl(292, 64%, 53%), hsl(212, 98%, 63%), hsl(54, 73%, 47%));
$bg-theme-light-3: linear-gradient(110deg, hsl(227, 47%, 34%), hsl(0, 31%, 58%));
$bg-theme-light-4: linear-gradient(145deg, #9B3838, #292F6A);

$border-radius: .625rem;

$thin-font: 300;
$regular-font: 400;
$medium-font: 500;
$semi-bold-font: 600; 

$small-font-size: 0.875rem;
$medium-font-size: 1.25rem;
$large-font-size: 1.5rem;

$main-height: 78.5vh;
$main-padding: 1rem;

$header-icon-size: 2.325rem;

$spin-animation: spin 2s ease-in-out infinite reverse;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$appear-animation: appear 0.2s ease-in-out;

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

$disappear-animation: disappear 0.2s ease-in-out;

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}