@use "../../../styles/mixins" as *;
@use "../../../styles/utils" as *;

.timetable-types {
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
    gap: 0.5rem;
    .nav-link:not(.active) {
      display: none;
    }
  }
  .nav-link {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    &.active {
      @include light-pillow-button;
    }
    &:hover:not(.active) {
      transform: scale(1.05);
    }
  }
}
