@use '../../../styles/utils' as *;
@use '../../../styles/variables' as *;

.saved {
  position: relative;
  outline: none;
  @include flex-center;
}

$icon-size: 0.875rem;

.saved-menu {
  animation: show-menu 0.1s ease-in-out forwards;
  position: absolute;
  top: 101%; // cool number
  left: -120%;
  width: 15rem;
  &.home {
    left: 80%;
  }
  @include tablet {
    width: 13rem;
  }
  background-color: rgba(255, 255, 255, 0.064);
  @include dark-mode {
    background-color: hsla(0, 0%, 31%, 0.2);
  }
  border: var(--border-clr) solid 1px;
  border-radius: $border-radius;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  z-index: 100;
  padding: 1.5rem 0;

  .title {
    font-weight: $semi-bold-font;
    font-size: 0.875rem;
    padding: 0 1.625rem;
    display: inline-block;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      font-size: 1.125rem;
      padding: 0.375rem 1.5rem;
      align-items: center;
      position: relative;
      &:hover, &.selected {
        background-color: var(--accent-clr);
        cursor: pointer;
      }
      /* Remove Item Icon */
      .remove {
        display: none;
      }
      &:hover .remove {
        position: absolute;
        right: 1.5rem;
        display: block;
        width: $icon-size;
        height: $icon-size;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          transform: scale(1.15);
        }
      }
    }
    .list-item {
      flex-grow: 1;
      .name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: calc(100% - $icon-size - .5rem);
      }
      .check-mark {
        width: $icon-size;
        min-width: $icon-size;
        height: $icon-size;
      }
    }
  }

}


.gradient-text {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes show-menu {
  0% {
    opacity: 0;
    transform: translate(-50%, .5rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
