@use '../../../styles/_variables' as *;
@use '../../../styles/_mixins' as *;

$placeholder-clr: hsla(0, 0%, 100%, 0.8);
$icon-size: 1em;

.bar {
  display: flex;
  align-items: center;
  font-size: $large-font-size;
  width: 22rem;

  svg {
      z-index: 1;
      margin: 0 0.575em;
      width: $icon-size;
      height: $icon-size;
      position: absolute;
    }

  .search {
    flex: 1;
    background: linear-gradient(145.37deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 93.95%);
    border: var(--border-clr) solid 2px;
    display: flex;
    align-items: center;
    padding: 0.125em 1em;
    border-radius: 10rem;
    gap: 1em;
    
    ul {
      margin-top: 3px;
      @include fade-in-animation(0.05s);
      z-index: 1;
      max-height: 300px;
      border: none;
      font-size: $medium-font-size;
      color: white;
      background: linear-gradient(45.37deg, var(--accent-clr) 0.75%, rgba(255, 255, 255, 0.07) 83.95%);
      border: var(--border-clr) solid 1px;
      border-radius: 2% 2% 2% $border-radius;
      box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(40px);
      -webkit-backdrop-filter: blur(40px);
      @include auto-scroll(y);
      
      mark {
        background: var(--accent-clr);
      }
      li {
        padding: 0.25em 1em;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.15);
          cursor: pointer;
        }
        &:focus {
          background-color: hsla(0, 0%, 100%, 0.371);
        }
      }
    }

    input {
      $gap: 0.325em;
      --left-margin: calc(#{$icon-size} + #{$gap});
      font-weight: $regular-font;
      max-width: calc(100% - var(--left-margin));
      background-color: transparent;
      color: var(--text-clr);
      border: none;
      outline: none;
      padding: 0;
      margin-left: var(--left-margin);
      font-size: 1em;

      &::placeholder {
        color: $placeholder-clr;
      }
      
      &::-ms-input-placeholder {
        color: $placeholder-clr;
      }
    }
  }
}


@include tablet {
  .bar {
    font-size: 24px;
    width: 100%;
    .search {
      animation: show .4s ease;
    }
    svg {
      transition: all .5s ease;
      width: 1.75rem;
      height: 1.75rem;
      &:hover, &:focus {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    &.hidden-search {
      width: fit-content;
      .search {
        display: none;
      }
      svg {
        width: 2.1rem;
        height: 2.125rem;
        &:hover, &:focus {
          transform: scale(1);
        }
      }
    }
  }

}

@keyframes show {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}