@use '../styles/mixins' as *;
@use '../styles/utils' as *;
@use '../styles/variables' as *;

.toggle {
  @include flex-center;
  @include light-pillow-button;
  position: relative;
  gap: 1rem;
  padding: .125em .5em .125em .625em;
  border: none;
  span {
    position: absolute;
    left: 0;
    width: 51%;
    height: 100%;
    z-index: -1;
    border-radius: 1rem;
    background: var(--accent-clr);
    border: rgba(223,239,254,.139) solid 1px;
    transition: all .2s ease-in-out;
    &.right {
      left: 49%;
    }
  }
  &:hover {
    span {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
