@use '../styles/_themes.scss' as *;
@use '../styles/_variables.scss' as *;
@use '../styles/_mixins.scss' as *;

$first-layer-width: 9rem;
$second-layer-width: 9rem;
$lecturers-second-layer-width: 20rem;

.selection {
  --first-layer-width: #{$first-layer-width};
  --second-layer-width: #{$second-layer-width};
  display: grid;
  grid-template-columns: var(--first-layer-width) var(--second-layer-width) auto;
  gap: 2rem;
  padding: .5rem 9rem;
  max-width: $max-content-width;
  &[data-attr=lecturer-groups]  {
    --second-layer-width: #{$lecturers-second-layer-width};
    .no-selection {
      padding-left: 0;
    }
    @include tablet {
      grid-template-columns: auto auto;
    }
  }

  @include tablet {
    --first-layer-width: 50%;
    --second-layer-width: 50%;
  }

  &.one-column {
    grid-template-columns: auto;
  }

  > ul {
    padding: .325rem;
    @include desktop {
      --scrollbar-width: 1.125rem; // {thin} on Firefox
      max-height: $main-height;
      @include scroll-on-hover(y, thin, transparent);
    }
    overflow: hidden;
    &:nth-child(1) li { // first layer list items
      max-width: calc(var(--first-layer-width) - var(--scrollbar-width, 0)); 
    }
    &:nth-child(2) li { // second layer list items
      max-width: calc(var(--second-layer-width) - var(--scrollbar-width, 0)); 
    }
    
    li {
      @include fade-in-animation(0.3s);
      font-size: $medium-font-size;  
      margin: 0.1rem 0;

      button {
        word-wrap: break-word;
        width: 100%;
        padding: .1em .5em;  
        font-weight: 700;
        text-align: left;
        border-radius: 0.375rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: transparent solid 1px;
        &[data-state=selected], &:hover{
          background: var(--accent-clr);
          border: var(--border-clr) solid 1px;
        }
      }
    }
  }
 

  @include timetable-mobile {
    padding: .5rem 3rem;
  }

  @include mobile {
    gap: 0rem;
    padding: .5rem 2rem;
  }

  .no-selection {
    padding-left: calc($lecturers-second-layer-width - $second-layer-width);

    &:nth-child(2) { // there's no second layer
      padding-left: 0;
      grid-column: 2 / 4;
    }
    padding-top: 3rem;
    @include tablet {
      display: none;
    }
    height: 65vh;
    height: 65dvh;
    @include flex-center;
    flex-direction: column;
    img {
      width: 20rem;
      height: auto;
      filter: invert(75%);
    }
    p {
      font-size: $medium-font-size;
      text-align: center;
      color: $extra-text-clr;
    }

  }
}
