@use '../styles/_themes.scss' as *;
@use '../styles/_variables.scss' as *;
@use '../styles/_mixins.scss' as *;



.selection {
  &[data-attr=selective-groups] {
    // second child
    > ul:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);      
    }
  }
  max-width: $max-content-width;
  display: flex;
  gap: 5rem;
  padding: .5rem 10rem;
  @include timetable-mobile {
    padding: .5rem 3rem;
    gap: 3rem;
  }
  
  width: 100%;

  li {
    font-size: $medium-font-size;
    margin: .125em;
    font-family: 'Ubuntu', sans-serif;
 

    button {
      padding: .125em .5em;  
      width: 7em;
      text-align: left;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &[data-state=selected] {
        background-color: $light-accent-clr;
      }
      &:hover {
        background-color: $light-accent-clr;
      }
    }

  }
  @include mobile {
    padding: 2rem 1rem;
    gap: 0;
    justify-content: space-around;
    li > button { 
        width: 5rem;
    }
  }
  .no-selection {
    @include tablet {
      display: none;
    }

    width: 100%;
    height: 70vh;
    @include flex-center;
    flex-direction: column;
    img {
      width: 20rem;
      height: auto;
      filter: invert(75%);

    }
    p {
      font-size: $medium-font-size;
      text-align: center;
      color: $extra-text-clr;
    }

  }
}