@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.container {
  @include flex-center;
  height: 100vh;
  height: 100dvh;
  background-image: linear-gradient(hsla(0, 0%, 10%, 0.501), hsla(0, 0%, 10%, 0.20));
  div {
    @include flex-center;
    gap: 1rem;
    svg {
      width: 3rem;
      height: 3rem;
      animation: $spin-animation;
    }
    span {
      font-size: 1.5rem;
      font-weight: $semi-bold-font;
    }
  }
}


