@use '../styles/utils' as *;
@use '../styles/variables' as *;

.container {
  @include flex-center;
  height: 100vh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  div {
    @include flex-center;
    gap: 1rem;
    svg {
      width: 3rem;
      height: 3rem;
      animation: $spin-animation;
    }
    span {
      font-size: 1.5rem;
      font-weight: $semi-bold-font;
    }
  }
}
