@use '../styles/mixins' as *;
@use '../styles/variables' as *;


.params {
  @include flex-center;
  gap: 1rem;
  flex-wrap: wrap;
}


/* Timetable on mobile */
.container {
  margin: auto 0;
  .timetable {
    @include timetable-mobile {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      max-width: 90vw;
      td, th {
        min-width: 90vw;
        scroll-snap-align: center;
      }
    }
  }
 
}

.update {
  @include flex-center;
  flex-direction: column;
  font-size: $small-font-size;
  margin: 2rem 0;
  gap: .125rem;
  button {
    background-color: $light-accent-clr;
    padding: .25rem .75rem;
    color: $text-clr;
    border-radius: 2rem;
  }
}