@use '../styles/mixins' as *;
@use '../styles/variables' as *;


.params {
  @include flex-center;
  gap: 1rem;
  flex-wrap: wrap;
  @include timetable-mobile {
    width: 100%;
  }
}

.wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

/* Timetable on mobile */
.container {
  display: flex;
  align-items: center;
  .timetable {
    @include timetable-mobile {
      @include auto-scroll(x, thin);
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      max-width: 90vw;
      td, th {
        $external-padding: calc(env(safe-area-inset-right) + env(safe-area-inset-left) + $main-padding * 2);
        min-width: min(90vw, 100vw - $external-padding);
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }
    }
  }
}

.bottom {
  @include flex-center;
  flex-direction: column;
  font-size: $small-font-size;
  padding: 1rem 0;
  gap: .125rem;
  span {
    display: flex;
    align-items: center;
    gap: .625rem;
    .merge {
      --icon-size: 1.625rem;
    }
    .download {
      --icon-size: 1.325rem;
    }
    .update {
      --icon-size: 1.625rem;
      &:disabled {
        cursor: not-allowed;
          svg path {
          fill: hsla(0, 0%, 72%, 0.766);
        }
      }
      &.loading {
        svg {
          animation: $spin-animation;
        }
      }
    }
  }
  svg {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    width: var(--icon-size);
    height: var(--icon-size);
  }
}