@use '../styles/mixins' as *;
@use '../styles/variables' as *;


.params {
  @include flex-center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Timetable on mobile */
.container {
  margin: auto 0;
  .timetable {
    @include timetable-mobile {
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: $light-accent-clr $light-accent-clr;
      
      &::-webkit-scrollbar {
        height: .325rem;
      }
      
      &::-webkit-scrollbar-track {
        background: $light-accent-clr;
        border-radius: 1rem;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $light-accent-clr;
        border-radius: .5rem;
      }

      scroll-snap-type: x mandatory;
      max-width: 90vw;
      td, th {
        min-width: 90vw;
        scroll-snap-align: center;
      }
    }
  }
}

.update {
  @include flex-center;
  flex-direction: column;
  font-size: $small-font-size;
  margin: 2rem 0;
  gap: .125rem;
  button {
    @include light-pillow-button;
  }
}