@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  @include timetable-mobile {
    padding: 0;
    grid-template-columns: 1fr;
  }
  flex-basis: 100%;
  height: fit-content;
  .year {
    animation: slideUp .2s ease forwards;
    transition: all .8s ease-in-out;

    max-height: 5rem;
    overflow: hidden;

    &::after {
      content: attr(data-value);
      font-size: $medium-font-size;
      margin: .125em;
      position: absolute;
      animation: slideUp .2s ease forwards;
    }

    &:hover {
      max-height: 60rem; // it could go wrong any time...
      cursor: pointer;
      li {
        opacity: 1;
      }
      &::after {  
        display: none;
      }
    }

    li {
      opacity: 0;
      transition: opacity .2s ease-in-out;
      @include animated-underline;
    }

    a {
      color: white;
    }
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    background-color: $light-accent-clr;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
