@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.header {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 4rem .75rem 4rem;
  @include tablet {
    padding: 2rem 2.5rem .75rem 2.5rem;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  .right-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    button.exams {
      @include light-pillow-button;
      border-radius: .625rem;
      align-self: flex-end;
      margin-bottom: .425rem;
    }

    svg {
      width: 2.75rem;
      height: 2.75rem; 
      transition: all .2s ease-in-out;
      transform-origin: center;
      cursor: pointer;
    }
    h1 {
      align-self: flex-end;
      font-size: 2rem;
      font-weight: $semi-bold-font;
      color: $text-clr;
    }
  }
}
