header {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  .navButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
 /*  .liked {
    position: relative;
    .likedMenu {
      padding: 10px;
      width: 200px;
      height: 100px;
      background-color: black;
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 100;
      border-radius: 10px;
    }    
    &:hover > .likedMenu, svg:focus + .likedMenu {
      display: block;
    } 
  }*/


}
