@use '../styles/variables' as *;

header {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  .nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    svg {
      width: 3rem;
      height: 3rem; 
      transition: all .2s ease-in-out;
      transform-origin: center;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        transform: scale(1.1);
      }
    }
    h1 {
      font-size: 2.5rem;
      font-weight: $semi-bold-font;
      color: white;
    }
  }
}
