@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.selected {
  @include light-pillow-button;
}

.select {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: flex;
  align-items: flex-end;
  > ul {
    flex: 1;
    background: var(--accent-clr);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: $border-radius $border-radius 0 0;
    padding: .5rem 0;
    > li {
      font-size: $medium-font-size;
      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          width: 80%;
          height: 1px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          background: var(--accent-clr);
        }
      }
      > button {
        width: 100%;
        padding: .75rem 2rem;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.15);
        cursor: pointer;
      }
    }
  }
}