@use '../styles/_variables' as *;
@use '../styles/_mixins' as *;

.saved {
  position: relative;
  outline: none;
  &:focus svg {
    outline: auto;
  }
}

.saved-menu {
  animation: show-menu 0.1s ease-in-out forwards;
  position: absolute;
  top: 100%;
  right: -60%;
  width: 15rem;
  &.home {
    right: -160%;
  }
  @include tablet {
    width: 13rem;
  }
  background-color: hsla(0, 0%, 64%, 0.27);
  border-radius: 0.675rem;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  z-index: 1;
  padding: 1.5rem 0;

  /* Tittle */
  & > span {
    font-weight: $semi-bold-font;
    font-size: 0.875rem;
    padding: 0 1.625rem;
    display: inline-block;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      font-size: 1.125rem;
      padding: 0.375rem 1.5rem;
      align-items: center;
      position: relative;
      &:hover, &.selected {
        background-color: hsla(0, 0%, 100%, 0.15);
        cursor: pointer;
      }
      /* Remove Item Icon */
      .remove {
        display: none;
      }
      &:hover .remove {

        position: absolute;
        right: 1.5rem;
        display: block;
        width: 0.875rem;
        height: 0.875rem;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus {
          outline: none;
          transform: scale(1.15);
          cursor: pointer;
        }
      }
    }
    li > a {
      flex-grow: 1;
      /* Item name and check mark*/
      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .check-mark {
        width: 1rem;
        height: 1rem;
      }
    }
  }

}

@keyframes show-menu {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}