@use '../styles/_variables' as *;


.saved {
  position: relative;
}

.saved-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 16rem;
  background-color: hsla(0, 0%, 64%, 0.27);
  border-radius: 1rem;
  box-shadow: 2px 2px 11px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  z-index: 1;
  transform: translateX(-50%);
  padding: 1.5rem 0;
  /* Tittle */
  & > span {
    font-weight: $semi-bold-font;
    font-size: 0.875rem;
    padding: 0 1.625rem;
    display: inline-block;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      font-size: 1.125rem;
      padding: 0.375rem 1.5rem;
      align-items: center;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.15);
        cursor: pointer;
      }
      /* Remove Item Icon */
      .remove {
        display: none;
      }
      &:hover .remove {
        display: block;
        width: 0.875rem;
        height: 0.875rem;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus {
          transform: scale(1.15);
          cursor: pointer;
        }
      }
    }
    li > a {
      color: white;
      flex-grow: 1;
      /* Item name and check mark*/
      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .check-mark {
        width: 1rem;
        height: 1rem;
      }
    }
  }

}