@use '../styles/_variables' as *;

$border-clr: hsla(0, 0%, 100%, 0.67);
$placeholder-clr: hsla(0, 0%, 100%, 0.8);
$icon-size: 1em;

.bar {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 25rem;

  svg {
      margin: 0 0.575em;
      width: $icon-size;
      height: $icon-size;
      position: fixed;
    }

  .search {
    flex: 1;
    width: 100%;
    background-color: $light-accent-clr;
    border: 0.1875rem solid $border-clr;
    display: flex;
    align-items: center;
    padding: 0.125em 1em;
    border-radius: 10rem;
    gap: 1em;

    input {
      font-weight: $regular-font;
      flex: 1;
      width: 100%;
      max-width: 15rem;
      background-color: transparent;
      color: $text-clr;
      border: none;
      outline: none;
      padding: 0;
      margin-left: $icon-size;

      &::placeholder {
        color: $placeholder-clr;
      }
      
      &::-ms-input-placeholder {
        color: $placeholder-clr;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .bar {
    font-size: 24px;
    width: 100%;
    .search {
      animation: show .4s ease;
    }
    svg {
      transition: all .5s ease;
      width: 2rem;
      height: 2rem;
      &:hover, &:focus {
        transform: scale(1.1);
        cursor: pointer;
        
      }
    }
    &.hidden-search {
      width: fit-content;
      .search {
        display: none;
      }
      svg {
        width: 3rem;
        height: 3rem;
        &:hover, &:focus {
          transform: scale(1);
        }
      }
    }
  }

}

@keyframes show {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}