@use '../styles/_variables' as *;

$border-clr: hsla(0, 0%, 100%, 0.67);
$placeholder-clr: hsla(0, 0%, 100%, 0.8);
$icon-size: 1em;


.bar {
  display: flex;
  align-items: center;
  font-size: 22px;
  width: 22rem;

  svg {
      margin: 0 0.575em;
      width: $icon-size;
      height: $icon-size;
      position: absolute;
    }

  .search {
    flex: 1;
    width: 100%;
    background-color: $light-accent-clr;
    border: 0.1875rem solid $border-clr;
    display: flex;
    align-items: center;
    padding: 0.125em 1em;
    border-radius: 10rem;
    gap: 1em;
    ul {
      z-index: 1;
      max-height: 300px;
      overflow-y: auto;
      border: none;
      font-size: 1.25rem;
      background-color: hsla(0, 0%, 64%, 0.27);
      border-radius: 2% 2% 2% 6%;
      box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(40px);
      &::-webkit-scrollbar {
        width: 12px;
      }
      
      &::-webkit-scrollbar-track {
        background: $light-accent-clr;
        border-radius: 1rem;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $light-accent-clr;
        border-radius: .5rem;
      }
      mark {
        background-color: $light-accent-clr;
      }
      li {
        padding: 0.25em 1em;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.15);
          cursor: pointer;
        }
        &:focus {
          background-color: hsla(0, 0%, 100%, 0.371);
        }
      }
    }

    input {
      font-weight: $regular-font;
      flex: 1;
      width: 100%;
      max-width: 15rem;
      background-color: transparent;
      color: $text-clr;
      border: none;
      outline: none;
      padding: 0;
      margin-left: $icon-size;
      font-size: 1em;

      &::placeholder {
        color: $placeholder-clr;
      }
      
      &::-ms-input-placeholder {
        color: $placeholder-clr;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .bar {
    font-size: 24px;
    width: 100%;
    .search {
      animation: show .4s ease;
    }
    svg {
      transition: all .5s ease;
      width: 2rem;
      height: 2rem;
      &:hover, &:focus {

        transform: scale(1.1);
        cursor: pointer;
        
      }
    }
    &.hidden-search {
      width: fit-content;
      .search {
        display: none;
      }
      svg {
        width: 2.5rem;
        height: 2.5rem;
        &:hover, &:focus {
          transform: scale(1);
        }
      }
    }
  }

}

@keyframes show {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}