@use '../styles/variables' as *;

$spacer-width: 0.5rem;

td {
  position: relative;
  .spacer {
    position: absolute;
    top: 0;
    height: 100%;
    min-width: $spacer-width;
  }
}

.cell {
  display: flex;
  min-height: 5rem;
  max-width: 16rem;
  position: relative;

 
  .info {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-left: $spacer-width;

    a {
      font-size: $small-font-size;
      position: absolute;
      bottom: 0.4375rem;
      right: 1rem;
      color: white;
      cursor: pointer;
      padding: 0.125em 0.375em; 
      width: fit-content;
      border-radius: 1rem;
      &.lecture:hover {
        background-color: $timetable-lect-hover-clr;
      }
      &.lab:hover {
        background-color: $timetable-lab-hover-clr;
      }
      &.practical:hover {
        background-color: $timetable-pract-hover-clr;
      }
    }
  }

}

.lecture {
  background-color: $timetable-lect-clr;
}

.lab {
  background-color: $timetable-lab-clr;
}

.practical {
  background-color: $timetable-pract-clr;
}