@use '../styles/variables' as *;

$spacer-width: 0.5rem;

td {
  position: relative;

  .spacer {
    position: absolute;
    top: 0;
    height: 100%;
    min-width: $spacer-width;
  }

  &.show {
    animation: appear 300ms ease-in-out forwards;
  }

  &.hide {
    animation: disappear 300ms ease-in-out forwards;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.cell {
  display: flex;
  min-height: 5rem;
  max-width: 16rem;
  position: relative;

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: .5rem;
    width: 100%;
    margin-left: $spacer-width;
    /* Name and lecturer */
    > :first-child {
      font-size: $small-font-size;
      line-height: 1.4;
      h4 {
        font-weight: $semi-bold-font;
      }      
    }
    /* Type and link */
    > :last-child {
      display: flex;
      justify-content: space-between;
      font-size: $small-font-size;
      color: $extra-text-clr;
      flex-wrap: wrap;
      gap: .5rem;
      line-height: normal;

      a {
        font-size: $small-font-size;
        cursor: pointer;
        padding: 0.1875em 0.375em; 
        width: fit-content;
        border-radius: 1rem;
        color: $text-clr;
        &.lection:hover, .lecture:hover {
          background-color: $timetable-lect-hover-clr;
        }
        &.lab:hover {
          background-color: $timetable-lab-hover-clr;
        }
        &.practical:hover {
          background-color: $timetable-pract-hover-clr;
        }
      }
    }
    
  }

}

.lecture, .lection {
  background-color: $timetable-lect-clr;
}

.lab {
  background-color: $timetable-lab-clr;
}

.practical {
  background-color: $timetable-pract-clr;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}