@use '../styles/variables' as *;
@use '../styles/mixins' as *;



.timetable {
  max-width: $max-content-width;
  border-collapse: collapse;
  color: hsla(0, 0%, 100%, 0.8);
  
  td, th {
    border: 1px solid hsla(0, 0%, 100%, 0.2);
  }
  /* First row */
  thead tr:first-child th {
    border-top: none;
  }
  /* Last row */
  tr:last-child td, th {
    border-bottom: none;
  }

  /* First column */
  tr td:first-child, th:first-child {
    @include timetable-mobile {
      display: none;
    }

    width: 5rem;
    position: relative;
    span {
      position: absolute;
    }
    /* Start time */
    span:first-child {
      @include small-italic-text;
      top: 0%;
      right: .5rem;
    }
    /* Lesson number */
    :nth-child(2) {
      top: 0%;
      right: 3.5rem;
    }
    /* End time */
    span:last-child {
      @include small-italic-text;
      bottom: 0%;
      right: .5rem;
    }
    border-left: none;
  }
  /* Last column */
  tr td:last-child, th:last-child {
    border-right: none;
  }
}