.heart {
  min-width: 3.5rem;
  padding-top: 0.25rem;
}

.heart > path {
  fill: transparent;

}

.liked > path {
  fill: rgb(204, 84, 84);
  stroke: rgb(204, 84, 84);
  animation: beat .2s ease-in 2 alternate;
}

@keyframes beat {
  0% {
    transform: scale(1.1);
  }
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}