@use '../styles/mixins' as *;
@use '../styles/variables' as *;  

.icon {
  max-width: $header-icon-size;
  transition: all 0.2s ease-in-out;
  &:hover, &:focus {
    transform: scale(1.05);
  }
  @include flex-center;
}
