@use '../../styles/utils' as *;
@use '../../styles/mixins' as *;

:global(html):has(.wrapper) {
  overflow: hidden;
}

.wrapper {
  position: fixed;
  @include inset-0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 100;
  @include flex-center;

  .modal {
    margin: 1rem;
    width: min(30rem, calc(100vw - 2rem));
    background-color: hsla(240, 6%, 14%, .95);
    border: 1px solid var(--border-clr);
    box-shadow: 2px 2px 11px 0px hsla(0, 0%, 0%, 0.7);
    @include blur(2rem);
    padding: 1.5rem;
    border-radius: 1rem;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .close {
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../../assets/close.svg) center / .875rem auto no-repeat;
        opacity: .7;
        transition: opacity .2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    .fieldset {
      margin: 1.5rem 0;
      padding: 0;
      border-radius: .625rem;
      .choice {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin-top: .5rem;
        .selected {
          display: flex;
          flex-wrap: wrap;
          gap: .5rem;
          .selectedItem {
            background-color: var(--accent-clr);
            border: 1px solid var(--border-clr);
            padding: .25em .5em;
            border-radius: .325em;
            position: relative;
            cursor: pointer;
            &::before {
              content: attr(data-content);
              transition: color .2s ease-in-out;
            }
            &::after {
              content: url(../../assets/close.svg);
              width: .875rem;
              height: auto;
              position: absolute;
              top: 50%;
              right: 50%;
              transform: translateX(50%) translateY(-40%);
              transition: opacity .2s ease-in-out;
              opacity: 0;
            }
            &:disabled {
              cursor: default;
            }
            &:not(:disabled):hover {
              &::before {
                color: transparent;
              }
              &::after {
                opacity: 1;
              }
            }
          }
          
        }
        .search-bar {
          input {
            width: 100%;
            padding: .625rem .75rem;
            background-color: rgba(255, 255, 255, .05);
            border: 1px solid var(--border-clr);
            border-radius: .5rem;
            outline: none;
            color: var(--text-clr);
            &:focus {
              border-color: rgba(255, 255, 255, .35);
            }
            &::placeholder {
              color: rgba(255, 255, 255, .5);
            }
          }
        }
      }
    }
    .button {
      display: block;
      margin: 0 0 0 auto;
      padding: .5em 1em;
      border-radius: .5em;
      background-color: hsla(0, 0%, 100%, 0.9);
      color:hsla(0, 0%, 0%, 0.8);
      transition: background-color .2s;
      &:hover {
        background-color: hsla(226, 55%, 94%, 0.9);
      }
    }
  }
}

.options {
  width: var(--input-width);
  margin: 0;
  padding: .25rem 0;
  list-style: none;
  color: var(--text-clr);
  background: hsla(240, 6%, 14%, .95);
  border: 1px solid var(--border-clr);
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
  @include blur(2rem);
  --anchor-max-height: 10rem;
  border-radius: .5rem;
  z-index: 101;
  @include auto-scroll(y, thin);
  &:empty {
    visibility: hidden;
  }
  li {
    width: 100%;
    padding: .5rem .75rem;
    cursor: pointer;
    &[data-focus] {
      background: var(--accent-clr);
    }
  }
}
